<!DOCTYPE html>
<html>
  <body>
    <h1>Welcome <%= user %></h1>

    <h2>Upload File (No Validation)</h2>
    <form action="/upload" enctype="multipart/form-data" method="POST">
      <input type="file" name="file">
      <button>Upload</button>
    </form>

    <a href="/">Logout</a>
  </body>
</html>
